@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  /* w-full my-4 px-4 py-4 rounded-md bg-[#0E0E0E] text-white */
  .contact-from-input {
    width: 100%;
    margin: 6px;
    padding: 21px 23px;
    border-radius: 5px;
    background: #0e0e0e;
    color: white;
    outline: none;
  }
}

body {
  background: #2d2d2d;
  /* font-size: 62.5%; */
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d70027;
  border-radius: 8px;
  border: 2px solid #ff1843;
}

.custom-scroll::-webkit-scrollbar{
  height: 0px;
  width: 0px;
}
